<header>
    <div>
        <a routerLinkActive="active" routerLink="/" ariaCurrentWhenActive="page">Home</a>
        <a routerLinkActive="active" routerLink="/search"ariaCurrentWhenActive="page">Search</a>
        <a routerLinkActive="active" routerLink="/register" ariaCurrentWhenActive="page">Register</a>
        <a routerLinkActive="active" routerLink="/delete_account" ariaCurrentWhenActive="page">Delete Account</a>
        <a href="/swagger-ui/index.html">Swagger</a>
        <a href="https://github.com/AndyLocks/SpringLeute">Github repo</a>
    </div>
</header>

