header {
    top: 0;
    position: fixed;
    padding: 15px;
    background-color: #232323;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header div {
    margin-left: 10px;
    margin-right: 10px;
}